/* src/index.css */
@import './styles/tailwind.css';

body {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 320px;
  min-height: 100vh;
}

.flex-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 20px; /* Adjust as needed */
  box-sizing: border-box;
}

.max-w-2xl {
  max-width: 600px; /* Adjust based on your design */
  width: 100%;
}

/* Add a media query for larger screens if needed */
@media (min-width: 768px) {
  .max-w-2xl {
    max-width: 768px; /* Adjust based on your design for larger screens */
  }
}